<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner p-2 pb-4">
        <div class="carousel-item active">
            <div class="row align-items-center">
                <div class="col">
                    <img class="img-carousel img-fluid" src="{{asset('images/envirofacade.png')}}" alt="Enviro Services France">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Enviro Services France</h5>
                    <p>Situé dans un pôle d’entreprises de la région lilloise, nous bénéficions d’un bâtiment
                        de construction moderne de 1200m2 sur 2 niveaux. Nos bureaux sont adjacents à notre pôle
                        industriel et logistique. Nous sommes situés près d’infrastructures routières importantes.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col">
                    <img class="img-carousel img-fluid" src="{{asset('images/enviroquais.png')}}" alt="Quais">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Infrastructure adaptée</h5>
                    <p>Notre site et son quai de déchargement sont sécurisés aux normes en vigueur pour garantir à nos partenaires que leurs
                        produits sont sous contrôle permanent.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col">
                    <img class="img-carousel img-fluid" src="{{asset('images/proximite.jpg')}}" alt="Bureaux">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Proximité</h5>
                    <p>Nos bureaux d’une surface de XXXm2 sur 2 niveaux nous permettent de répondre rapidement à des montées
                        en charge de personnel. Enviro Services France sait donc répondre à des demandes de tous types de la part de ses partenaires</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col">
                    <img class="img-carousel" src="{{asset('images/banctests.jpeg')}}" alt="Bancs de test performants">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Bancs de test performants</h5>
                    <p>Nos équipements dernier cri nous permettent de répondre au plus précis pour nos clients.
                        La qualité de nos prestations est souvent mise en avant et nous permet de fidéliser
                        l’ensemble de nos clients sur le long terme.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col">
                    <img class="img-carousel" src="{{asset('images/livreur.jpeg')}}" alt="Réactivité">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Réactivité</h5>
                    <p>Un de nos atouts, un accord avec les douanes françaises nous permettent une réactivité-temps des meilleures.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col">
                    <img class="img-carousel" src="{{asset('images/stock.jpg')}}" alt="Stockage logistique">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Stockage logistique</h5>
                    <p>Notre espace entreposage permet à nos clients de nous confier certaines quantités de produits.
                        Notre équipement modulable nous permet de réponde à bon nombre de prérogatives de nos partenaires
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col">
                    <img class="img-carousel img-fluid border border-white" src="{{asset('images/boites.jpg')}}" alt="Prestations additionnelles">
                </div>
                <div class="col carousel-text">
                    <h5 class="pt-0 pb-3">Prestations additionnelles</h5>
                    <p>En sus de la réparation des smartphones, nous proposons différentes prestations additionnelles pour
                        nos partenaires avec des produits de tous environnements (brun, blanc, gris…).</p>
                </div>
            </div>
        </div>
    </div>
</div>
