<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner p-2 pb-4">
        <div class="carousel-item active">
            <div class="row align-items-center">
                <div class="col-5">
                    <img class="img-carousel img-fluid" src="{{asset('images/envirofacade.png')}}" alt="Enviro Services France">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Enviro France</h4>
                    <p>Situés dans un pôle d’entreprises de la région Lilloise, nous évoluons dans un bâtiment de construction moderne de 1200m2 sur 2 niveaux. Nos bureaux sont adjacents à notre pôle industriel et logistique, nous permettant une plus grande interaction dans nos opérations. Nous sommes situés près d’infrastructures routières importantes, au carrefour de plusieurs pays.</p>
                </div>
                <div class="d-flex flex-row ml-5">
                    <p class="text-center font-italic m-3 ml-5"><strong>Enviro Uk : </strong>En développement </p>
                    <p class="text-center font-italic m-3"><strong>Enviro Iberia : </strong>En développement </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel img-fluid" src="{{asset('images/enviroquais.png')}}" alt="Quais">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Infrastructure adaptée</h4>
                    <p class="mr-4">Nos sites sont sécurisé sur un standard TAPA, incluant caméras CCTV, périmètres de sécurité, monitoring 24/7, blindages aux points stratégiques, controles identités, … Son quai de (de)chargement répond aux normes en vigueur afin que vos produits bénéficient d’un contrôle et d’une sécurité permanents.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel img-fluid" src="{{asset('images/proximite.jpg')}}" alt="Bureaux">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Proximité</h4>
                    <p class="mr-4">Nos bureaux d’une surface de 300m2 sur 2 niveaux nous permettent de répondre rapidement à des montées
                        en charge de personnel. Enviro France sait donc répondre à des demandes de tous types de la part de ses partenaires (Mise en place de pôles service clients).</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel" src="{{asset('images/banctests.jpeg')}}" alt="Bancs de test performants">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Bancs de test</h4>
                    <p class="mr-4">Nos équipements de dernière génération nous permettent de répondre au plus précis pour nos clients.
                        La qualité de nos prestations est souvent soulignée nous permettant la fidélisation long terme de nos partenaires commerciaux.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel" src="{{asset('images/livreur.jpeg')}}" alt="Réactivité">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Réactivité</h4>
                    <p class="mr-4">Notre accord avec les douanes nous octroient une réactivité temps des plus optimales. Nous savons que le TAT est un atout primordial dans vos operations.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel" src="{{asset('images/carte-europe.png')}}" alt="Couverture-geo">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Notre couverture géographique</h4>
                    <p class="mr-4">Enviro offre des options pour transporter des produits de manière individuelle ou par lot dans le monde entier. Nos accords avec les acteurs majeurs de la logistique nous permettent d’optimiser nos conditions tarifaire grâce a la mutualization des flux. Mais aussi dans la qualite du suivi des colis et la qualité des indicateurs de service.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel" src="{{asset('images/stock.jpg')}}" alt="Stockage logistique">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Stockage</h4>
                    <p class="mr-4">Notre surface entreposable  permet le stockage de tous types de produits. Notre équipement 100% modulable répond aux besoins des petits comme des plus volumineux matériels</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-start">
                <div class="col-5">
                    <img class="img-carousel img-fluid border border-white" src="{{asset('images/boites.jpg')}}" alt="Prestations additionnelles">
                </div>
                <div class="col-7 carousel-text">
                    <h4 class="pt-0 pb-3 font-weight-bold text-dark">Prestations complémentaires</h4>
                    <p class="mr-4">Outre les réparations et remises à hauteur cosmétique de smartphones, nous proposons différentes prestations additionnelles. Et ce pour des produits de tous environnements.</p>
                </div>
            </div>
        </div>
    </div>
</div>
