{% extends 'base.html.twig' %}


{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="home container">

        <h5 class="font-italic font-weight-bold text-justify mt-5">"Être le déclencheur d’innovation pour améliorer vos performances.</h5>
        <h5 class="font-italic font-weight-bold text-justify ml-5 mb-5">Nous avons le know-How… l’expérience... les outils... les partenaires... Et surtout nous le faisons au quotidien"</h5>

        <h5>
            <img class="col-10 mb-5 mt-5 ml-5" src="{{ asset('/images/homepage.png') }}" title="homepage" alt="ESFhomepage">
        </h5>

       {# <h1 class="primary-title text-info font-weight-bold ml-1 mb-5">Nos opérations</h1>
        <div class="d-flex flex-row ml-5">
            <p class="mr-3">Au carrefour de l'Europe, notre centre de service <br>offre une position stratégique</p>
            <img src="{{ asset('/images/envirofacade.png') }}" alt="envirofacade">
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <p class="text-danger font-weight-bold h-100 ">5</p>
                <p class="mr-5">Pays desservis par nos solutions</p>

                        <p class="text-danger font-weight-bold h-100 ">1200</p>
                    </div>
                    <div class="d-flex flex-column ml-5">
                        <p class="text-danger font-weight-bold h-100 ">m2 d'ateliers de service et logistique</p>
                    </div>
            </div>
        <div class="d-flex flex-row">
            <p class="text-danger font-weight-bold h-100 " >20</p>
            <p>personnes dédiées à la Reverse <br> Logistique et Services</p>
        </div>
        <p class="text-danger font-weight-bold h-100 ">15k</p>
                <p>Produits High Tech gérés par mois (domestique <br> et international)</p>
        </div>

        <div>
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
        #}

        <section class="section-carousel mt-5">
            <div class="row mt-5 mb-5">
                <div class="col-7 bg-light">
                    {% include 'home/carrousel.html.twig' %}
                </div>
                <div class="col-5 flex-column">
                    <img src="{{ asset('/images/envirohome.png') }}" title="EnviroServices" class="embed-responsive" alt="ESF">
                    <p class="font-italic text-center mt-3">{% trans %}Enviro Services France est la plateforme de réparation de vos produits technologiques qui simplifie vos flux, minimise vos taux de retours et fidélise vos clients.{% endtrans %}</p>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-6">
                    <hr>
                </div>
            </div>
        </section>

        <section class="suivi">
            <h2 class="primary-title">{% trans %}SUIVI{% endtrans %}</h2>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-livraison.png') }}" class="img-responsive" alt="Livraison">
                    <p>{% trans %}Livraison{% endtrans %}</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-paiement.png') }}" class="img-responsive" alt="Paiement">
                    <p>{% trans %}Facilité de paiement{% endtrans %}</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-retour.png') }}" class="img-responsive" alt="SAV">
                    <p>{% trans %}Retour SAV{% endtrans %}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-10 text-center bg-light m-auto">
                    <video controls height="300px">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </section>

        <section class="decouvrez mt-5">
            <h1 class="primary-title">Découvrez...</h1>
        </section>

        <div class="row">
            <h2 class="secondary-title">
                <img src="{{ asset('/images/icone-metiers.png') }}" alt="" title="Nos métiers">Nos métiers
            </h2>
        </div>
        <div class="row">
            <div class="col bg-light border border-secondary p-3">
                <p class="font-italic font-weight-bold">Avant tout, répondre a vos attentes. Votre besoin n’est pas mentionné sur ce site ? Faites-nous en part, nous nous ferons un plaisir de vous accompagner.</p>
                <img src="{{ asset('images/devis-perso.jpg') }}" alt="Devis personnalisé" class="imageflottante-right">
                <ul>
                    <li>Screening technique</li>
                    <li>Réparation Smartphones, produits IT, brun, blans, gris…</li>
                    <li>Prestation de rachat/revente</li>
                    <li>Repacking</li>
                    <li>Prestations logistiques</li>
                    <li>Montage process après-vente</li>
                    <li>Consulting</li>
                    <li>Appels d’offres</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <p id="solution-box" class="secondary-title">
                <img src="{{ asset('/images/accessory.png') }}" alt="" title="Nos métiers">Nos solutions B2B personnalisées
            </p>
        </div>
        <div class="row">
            <div class="col bg-light border border-secondary p-3">
                <p>Chez Enviro, nous sommes motivés par la satisfaction de nos clients. Notre meilleure preuve, chaque année :
                    ils sont de plus en plus nombreux à nous faire confiance en nous octroyant des flux de plus en plus importants
                    ou encore de nouvelles familles de produits à gérer.</p>
                <p>Concernant les smartphones, nos taux de retours sont parmi les plus faibles ce qui contribue aussi à satisfaire
                    et fidéliser nos partenaires</p>
                <p>Tous nos services bénéficient de durées de garantie associées à la typologie de prestation assurée</p>
            </div>
        </div>

        <div class="row">
            <h2 class="secondary-title">
                <img src="{{ asset('/images/files-and-folders.png') }}" alt="Nos métiers">Nos engagements de performance et qualité
            </h2>
        </div>
        <div class="row">
            <div class="col bg-light border border-secondary p-2">
                <ul class="mt-2 mb-2">
                    <li class="mb-2 font-weight-bold">Certification ISO 9001.</li>
                    <li class="mb-2"><strong> Certification ISO 14001</strong> en projet.</li>
                    <li class="mb-2">Des formations spécifiques pour les opérateurs et techniciens :
                        <strong>“Qualité du discours” et “Qualité de l’écrit”.</strong></li>
                    <li class="mb-2"><strong>Enquêtes de satisfaction</strong> régulières auprès des clients
                        et partenaires.</li>
                    <li class="mb-2"><strong>Suivi permanent de la Qualité</strong> de nos prestations :
                        écoutes, contrôles dossiers, suivi des réclamations, principe partagé par tous : <strong>l’amélioration continue.</strong></li>
                </ul>
            </div>
        </div>
        {#  <div class="row d-flex">

            {# <div class="col-6 p-4">
                   <h3 class="secondary-title">
                       <img src="{{ asset('images/icone-metiers.png') }}" alt="Nos métiers">Nos métiers
                   </h3>
                   <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                   </p>
               </div>
               <div class="col-6 p-4">
                   <h3 class="secondary-title">
                       <img src="{{ asset('images/icone-systeme.png') }}" alt="Notre système IT">Notre système IT
                   </h3>
                   <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                   </p>
               </div>
               <div class="col-6 p-4">
                   <h3 class="secondary-title">
                       <img src="{{ asset('images/icone-solutions.png') }}" alt="Nos solutions B2B">Nos solutions B2B
                   </h3>
                   <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                   </p>
               </div>
               <div class="col-6 p-4">
                   <h3 class="secondary-title">
                       <img src="{{ asset('images/icone-engagements.png') }}" alt="Engagements">Nos engagements de performance
                   </h3>
                   <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                   </p>
               </div>
           </div>
       </section>

       <section class="partenaires">
           <h2 class="primary-title">Offre partenaires</h2>
           <div class="row justify-content-center">
               <div class="col-10">
                   <a href="{{ path('app_register') }}" class="primary-button">Demande d'inscription</a>
                   <p class="font-italic text-center">A partir d'un certain montant,
                       vous bénéficierez d'offres partenaires avantageuses...</p>
               </div>
           </div>
           <h2 class="primary-title">Témoignages de nos partenaires...</h2>
           <div class="row d-flex justify-content-center">
               <div class="col-3 p-4 border border-secondary m-3">
                   <p class="w-100 box-temoignage">Témoignage de XXX<br><br>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod.</p>
               </div>
               <div class="col-3 p-4 border border-secondary m-3">
                   <p class="w-100 box-temoignage">Témoignage de XXX<br><br>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod.</p>
               </div>
               <div class="col-3 p-4 border border-secondary m-3">
                   <p class="w-100 box-temoignage">Témoignage de XXX<br><br>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                       tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                       tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                       Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                       rhoncus euismod.</p>
               </div>
           </div>
       </section>
#}
        <section class="contact mt-3 mb-5">
            <div class="d-flex flex-row ">
                <div class="col-7">
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-informations.png') }}" alt="Contact">Besoin de plus d'informations ?
                    </h3>
                </div>
            </div>
                <div class="col bg-light border border-secondary p-2">
                <div class="col">
                    <div class="col-12 d-flex flex-row justify-content-around">
                        <p class="font-weight-bold mt-4 mb-3">Notre équipe s'occupe de vous !</p>
                        <a class="primary-button mt-3 mr-5" href="{{ path('add_message') }}" title="Contact">Contact</a>
                    </div>
                    <p class="font-italic text-right mr-5 mb-4">Nous vous recontacterons sous 24h !</p>

                    <div class="col text-center">
                        <img src="{{ asset('images/photo-labo.png') }}" alt="Laboratoire" class="img-fluid">
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-end mt-4">
                    <div class="col text-center">
                        <img src="{{ asset('images/iso9001.png') }}" alt="Livraison" class="img-iso">
                    </div>
                    <div class="col text-center">
                        <p>SAV</p>
                    </div>
                    <div class="col text-center">
                        <img src="{{ asset('images/cartes-banque.png') }}" alt="Paiement" class="img-responsive">
                        <p>Achats 100% sécurisés</p>
                    </div>
                </div>
                </div>
        </section>
    </main>
{% endblock %}

