{% extends 'base.html.twig' %}


{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="home container">

        <section class="section-carousel">
            <div class="row mt-5 mb-5">
                <div class="col-7 bg-light">
                    {% include 'home/carrousel.html.twig' %}
                </div>
                <div class="col-5 flex-column">
                    <img src="{{ asset('/images/envirohome.png') }}" title="EnviroServices" class="embed-responsive" alt="ESF">
                    <p class="font-italic text-center mt-3">{% trans %}Enviro Services France est la plateforme de réparation de vos produits technologiques qui simplifie vos flux, minimise vos taux de retours et fidélise vos clients.{% endtrans %}</p>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-6">
                    <hr>
                </div>
            </div>
        </section>

        <section class="suivi">
            <h2 class="primary-title">{% trans %}SUIVI{% endtrans %}</h2>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-livraison.png') }}" class="img-responsive" alt="Livraison">
                    <p>{% trans %}Livraison{% endtrans %}</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-paiement.png') }}" class="img-responsive" alt="Paiement">
                    <p>{% trans %}Facilité de paiement{% endtrans %}</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-retour.png') }}" class="img-responsive" alt="SAV">
                    <p>{% trans %}Retour SAV{% endtrans %}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-10 text-center bg-light m-auto">
                    <video controls height="300px">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </section>

        <section class="decouvrez mt-5">
            <h1 class="primary-title">Découvrez...</h1>
            <div class="row d-flex">
                <div class="col-6 p-4">
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-metiers.png') }}" alt="Nos métiers">Nos métiers
                    </h3>
                    <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                    </p>
                </div>
                <div class="col-6 p-4">
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-systeme.png') }}" alt="Notre système IT">Notre système IT
                    </h3>
                    <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                    </p>
                </div>
                <div class="col-6 p-4">
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-solutions.png') }}" alt="Nos solutions B2B">Nos solutions B2B
                    </h3>
                    <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                    </p>
                </div>
                <div class="col-6 p-4">
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-engagements.png') }}" alt="Engagements">Nos engagements de performance
                    </h3>
                    <p class="w-100 bg-light box-decouvrez border border-secondary p-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod. Praesent posuere posuere nulla, nec aliquet diam tincidunt ut.
                    </p>
                </div>
            </div>
        </section>

        <section class="partenaires">
            <h2 class="primary-title">Offre partenaires</h2>
            <div class="row justify-content-center">
                <div class="col-10">
                    <a href="{{ path('app_register') }}" class="primary-button">Demande d'inscription</a>
                    <p class="font-italic text-center">A partir d'un certain montant,
                        vous bénéficierez d'offres partenaires avantageuses...</p>
                </div>
            </div>
            <h2 class="primary-title">Témoignages de nos partenaires...</h2>
            <div class="row d-flex justify-content-center">
                <div class="col-3 p-4 border border-secondary m-3">
                    <p class="w-100 box-temoignage">Témoignage de XXX<br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod.</p>
                </div>
                <div class="col-3 p-4 border border-secondary m-3">
                    <p class="w-100 box-temoignage">Témoignage de XXX<br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod.</p>
                </div>
                <div class="col-3 p-4 border border-secondary m-3">
                    <p class="w-100 box-temoignage">Témoignage de XXX<br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                        rhoncus euismod.</p>
                </div>
            </div>
        </section>

        <section class="contact mt-5 mb-5">
            <div class="row">
                <div class="col-7">
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-informations.png') }}" alt="Contact">Besoin de plus d'informations ?
                    </h3>
                    <p class="font-weight-bold">Notre équipe s'occupe de vous !</p>
                </div>
                <div class="col-5">
                    <a class="primary-button mt-5" href="{{ path('add_message') }}" title="Contact">Contact</a>
                    <p class="font-italic text-center">Nous vous recontacterons sous 24h !</p>
                </div>
            </div>
        </section>

        <section class="divers mt-5 mb-5">
            <div class="row">
                <div class="col text-center bg-light">
                    <img src="{{ asset('images/photo-labo.png') }}" alt="Laboratoire" class="img-fluid">
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-end mt-4">
                <div class="col text-center">
                    <img src="{{ asset('images/iso9001.png') }}" alt="Livraison" class="img-responsive">
                </div>
                <div class="col text-center">
                    <p>SAV</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('images/cartes-banque.png') }}" alt="Paiement" class="img-responsive">
                    <p>Achats 100% sécurisés</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

