{% extends 'base.html.twig' %}


{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="home container">

        <h5 class="font-italic font-weight-bold text-justify mt-5">"Être le déclencheur d’innovation pour améliorer vos performances.</h5>
        <h5 class="font-italic font-weight-bold text-justify ml-5 mb-5">Nous avons le know-How… l’expérience... les outils... les partenaires... Et surtout nous le faisons au quotidien"</h5>

        <h5>
            <img class="col-10 mb-5 mt-5 ml-5" src="{{ asset('/images/homepage.png') }}" title="homepage" alt="ESFhomepage">
        </h5>

        <div class="row">
            <div class="col">
                <h2 class="secondary-title">Notre histoire</h2>
                <img src="{{ asset('images/envirofacade.png') }}" alt="Enviro Services"
                     class="imageflottante mr-2 mb-3 border border-secondary">
                <p>Enviro Services France est la plateforme de réparation de vos produits technologiques qui simplifie vos flux, minimise vos taux de retours et fidélise vos clients.</p>
                <p>Enviro est une société européenne spécialisée dans le domaine des services en électronique et
                    télécommunications.</p>
                <p>Enviro propose des solutions complètes d'après-vente aux majeurs de l'industrie des produits multi médias.</p>
                <p>Le succès d’Enviro est basé avant tout sur la créativité, la flexibilité, la disponibilité et l’énergie qu’e Enviro dédie à chacun de ses projets pour élargir ses compétences et les gammes de produits traités.</p>
                <p>Enviro ne cesse d’investir de manière significative pour améliorer son niveau d’excellence dans toutes les activités de services et poursuivre son développement sur les marchés de l’électronique grand public.</p>

                <p class="mt-5 list-unstyled">Enviro est devenu au cours de ces dernières années un des partenaires de premier plan pour
                        les fabricants et les opérateurs avec notamment comme atouts différenciateurs :</p>
                <ul>
                    <li class="ml-4 mb-2">Une forte compétence technique multi-produits et multi-marques reconnue par les acteurs du marché pour sa capacité d’adaptation et d’accompagnement dans les nouveaux concepts de service.</li>
                    <li class="ml-4 mb-2">Une forte capacité d’innovation lui permettant de s’adapter aux évolutions rapides tant techniques que commerciales de ses principaux clients et ainsi leur offrir l’accompagnement et le support lors des évolutions.</li>
                </ul>
                    <p class="mt-5 list-unstyled">Enviro dispose d’une structure dédiée et optimisée pour toutes les activités de service :</p>
                <ul>
                    <li class="ml-4 mb-2">Le traitement de la logistique de produits électroniques grand public : transport, réception, stockage, préparation d’expédition, livraison.</li>
                    <li class="ml-4 mb-2" >La gestion des échanges de données informatiques (ou l’intégration des outils client le cas échéant)</li>
                    <li class="ml-4 mb-2">Le contrôle de qualite des produits non neufs incluant un grading adapte selon ou mêlant la categorie de produits testes, channels entrants et sortants, et l’optmisation de la valeur residuelle.</li>
                    <li class="ml-4">La gestion des spécificités des processus lies aux clients qui incluent des options de gestion des délais incluant l’echange de produits, des options de diagnostique a distance pour minimiser le temps passe sur la qualificaton des pannes/options, et enfin la sécurité des contenus.</li>
                </ul>
            </div>
        </div>

        <section class="section-carousel mt-5">
            <div class="row mt-5 mb-5">
                <div class="col-9 bg-light">
                    {% include 'home/carrousel.html.twig' %}
                </div>
                <div class="col-3 flex-column h-100">
                    <img src="{{ asset('/images/envirohome.png') }}" title="EnviroServices" class="embed-responsive" alt="ESF">
                    <p class="font-italic text-center mt-3">{% trans %}Enviro Services France est la plateforme de réparation de vos produits technologiques qui simplifie vos flux, minimise vos taux de retours et fidélise vos clients.{% endtrans %}</p>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-6">
                    <hr>
                </div>
            </div>
        </section>

        <section class="suivi">
            <h2 class="primary-title">{% trans %}SUIVI{% endtrans %}</h2>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-livraison.png') }}" class="img-responsive" alt="Livraison">
                    <p>{% trans %}Livraison{% endtrans %}</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-paiement.png') }}" class="img-responsive" alt="Paiement">
                    <p>{% trans %}Facilité de paiement{% endtrans %}</p>
                </div>
                <div class="col text-center">
                    <img src="{{ asset('/images/suivi-retour.png') }}" class="img-responsive" alt="SAV">
                    <p>{% trans %}Retour SAV{% endtrans %}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-10 text-center bg-light m-auto">
                    <video controls height="300px">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </section>

        <section class="contact mt-3 mb-5">
                <div class="row">
                    <p class="secondary-title">
                        <img src="{{ asset('images/icone-informations.png') }}" alt="Contact">Besoin de plus d'informations ?
                    </p>
                </div>
                <div class="col bg-light border border-secondary p-2">
                <div class="col">
                    <div class="col-12 d-flex flex-row justify-content-around">
                        <p class="font-weight-bold mt-4 mb-3">Notre équipe s'occupe de vous !</p>
                        <a class="primary-button mt-3 mr-5" href="{{ path('add_message') }}" title="Contact">Contact</a>
                    </div>
                    <p class="font-italic text-right mr-5 mb-4">Nous vous recontacterons sous 24h !</p>

                    <div class="col text-center">
                        <img src="{{ asset('images/photo-labo.png') }}" alt="Laboratoire" class="img-fluid">
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-end mt-4">
                    <div class="col text-center">
                        <img src="{{ asset('images/iso9001.png') }}" alt="Livraison" class="img-iso">
                    </div>
                    <div class="col text-center">
                        <p>SAV</p>
                    </div>
                    <div class="col text-center">
                        <img src="{{ asset('images/cartes-banque.png') }}" alt="Paiement" class="img-responsive">
                        <p>Achats 100% sécurisés</p>
                    </div>
                </div>
                </div>
        </section>
    </main>
{% endblock %}

