{% extends 'base.html.twig' %}

{% block title %}Enviro Services France{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
 {% endblock %}

{% block body %}
    <main class="container w-100">
        <img src="{{ asset('images/logolongESF.png') }}" alt="Enviro Services France" class="embed-responsive mt-4">


        <div class="row mt-4 w-100">
            <div class="col">
                <h2 class="secondary-title">Notre système IT</h2>
                <p class="third-title text-info w-100 mb-4">Un système Informatique dynamique et adaptable aux besoins de nos partenaires.</p>

                <div class="d-flex flex-row systemeIT ml-5">
                    <div class="d-flex flex-column justify-content-around mt-5 w-25 font-weight-bold text-info">
                        <p class="mb-5 mr-2">Suivi qualité</p>
                        <p class="mb-5 mr-2">Outil de diagnostique</p>
                        <p class="mb-5 mr-2">Suivi d'activité</p>
                    </div>

                    <div class="d-flex flex-column image-systeme w-50">
                        <div class="d-flex flex-grow-1">
                        <img class="grafic-1" src="{{ asset('images/graphic-1.png') }}" alt="graphic-1">
                        </div>

                        <div class="d-flex flex-row align-content-around">
                            <div class="d-flex flex-row align-content-around">
                                <img class="graphic-2" src="{{ asset('images/graphic-2.png') }}" alt="graphic-2">
                                <img class="iso-9001 mt-5 h-50" src="{{ asset('images/afq-iso-9001.png') }}" alt="iso-9001">
                                <img class="grafic-3" src="{{ asset('images/graphic-3.png') }}" alt="graphic-3">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-around font-weight-bold mt-5 w-25 ml-4 text-info">
                        <p class="mb-5 ml-2">Reporting</p>
                        <p class="mb-5 ml-2">Suivi de productivité</p>
                    </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h2 class="secondary-title">Nos valeurs</h2>
               <ul class="list-unstyled ml-2 text-justify">
                   <li class="mb-1 ml-3"><strong>1.</strong> Enviro transmet ses valeurs à tous ses collaborateurs : </li>
                       <li class="ml-5 mb-2">respect, enthousiasme, service, travail d’équipe, esprit d’initiative et persévérance.</li>
                   <li class="mb-2 ml-3"><strong>2.</strong> Enviro accueille les nouveaux venus, les embauchant et les aidant à progresser, sans distinction d’âge, origine ou handicap.</li>
                   <li class="mb-2 ml-3"><strong>3.</strong> Enviro favorise l’évolution de ses salariés à travers la mobilité interne, la rémunération à la performance, la gestion de carrières ainsi que l’accent mis sur la formation.</li>
                   <li class="mb-2 ml-3"><strong>4.</strong> Être responsable signifie également respecter l’environnement, en évitant le gaspillage et en étant un citoyen écologiquement responsable.</li>
               </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h2 class="secondary-title">Nos engagements</h2>
                <ul class="list-unstyled ml-2">
                    <li class="mb-2 ml-3">Satisfaction client : Nous travaillons pour votre satisfaction, c’est ce qui drive notre motivation au quotidien.</li>
                    <li class="mb-2 ml-3">Disponibilité : Notre équipe sera toujours présente a vos cotes.</li>
                    <li class="mb-2 ml-3">Écoute : Pour mieux vous servir, nous devons vous comprendre et bien appréhender vos projets.</li>
                    <li class="mb-2 ml-3">Proposition : Nos propositions seront adaptées a vos besoins, chacune est personnalisée.</li>
                </ul>

                <h3 class="secondary-title">
                    <img src="{{ asset('images/icone-systeme.png') }}" alt="Points de contrôle">Points de contrôle
                </h3>
                <p>Pour vous garantir une qualité optimale, nous avons mis en place, par famille de produits, des processus de contrôle précis et respectés à chaque étape.</p>
                <p>A titre d’exemple nous effectuons les points de contrôle suivants sur un smartphone.</p>
            </div>
        </div>

        {#<div class="row mt-4 mb-3 w-100">
            <div class="col ">
                <p class="third-title">
                    Les 54 points de contrôle Enviro Services France
                </p>
            </div>
        </div>#}

        <div class="pt_controle border-secondary shadow bg-light">
            <div class="d-flex flex-row mt-5 mb-5">
                <div class="col-5 mt-2 w-100">
                    <ul class="control-list">
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Test carte mère et autres cartes PCB électroniques</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Test blocage cloud ou sécurité produit</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Conformité esthétique</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Bluetooth / WIFI</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Vérification de la batterie</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Test déblocage opérateur</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Synchronisation - peripheriques</li>
                        <li><img src="{{ asset('images/puce-valid.png') }}" alt=".">Connexion : alimentation</li>
                    </ul>
                </div>
                <div class="col-7 mt-2">
                    <ul class="control-list">
                        <li><img src="images/puce-valid.png" alt=".">Test de toutes les touches et claviers</li>
                        <li><img src="images/puce-valid.png" alt=".">Test mécanique des outils de discussion/alertes : microphone, haut parleur,…</li>
                        <li><img src="images/puce-valid.png" alt=".">Test caméras avant/arrière</li>
                        <li><img src="images/puce-valid.png" alt=".">Test disque dur et périphériques de stockage : fonctionalite, taille, capacité,…</li>
                        <li><img src="images/puce-valid.png" alt=".">Traitement anti-bactérien</li>
                        <li><img src="images/puce-valid.png" alt=".">Test de connection au réseau (GSM, WIFI,…etc)</li>
                        <li><img src="images/puce-valid.png" alt=".">Vérification de tous les capteurs d'humidité</li>
                        <li><img src="images/puce-valid.png" alt=".">Test afficheur : qualite, luminosite, qualite, touchscreen,…</li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="row">
                <h2 class="secondary-title">
                    <img src="{{ asset('images/files-and-folders.png') }}" alt="Nos métiers">Nos engagements de performance et qualité
                </h2>
            </div>
            <div class="row w-80">
                <div class="col p-2 mb-5 ">
                    <ul class="m-1 list-unstyled">
                        <li class="mb-2 font-weight-bold">1. Certification ISO 9001.</li>
                        <li class="mb-2">2. <strong>Certification ISO 14001</strong> en projet.</li>
                        <li class="mb-2">3. Des formations spécifiques pour les opérateurs et techniciens :
                            <strong>“Qualité du discours” et “Qualité de l’écrit”.</strong></li>
                        <li class="mb-2">4. <strong>Enquêtes de satisfaction</strong> régulières auprès des clients
                            et partenaires.</li>
                        <li class="mb-2">5. <strong>Suivi permanent de la Qualité</strong> de nos prestations :
                            écoutes, contrôles dossiers, suivi des réclamations.</li>
                        <li class="list-unstyled font-weight-bold ml-1">Un principe partagé par tous : <strong>l’amélioration continue.</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
