{% extends 'base.html.twig' %}

{% block title %}Services - Enviro Services France{% endblock %}

{% block body %}
<main class="container main-service mb-4">
    <h1 class="primary-title">Nos services</h1>

    <div class="row">
        <h2 class="secondary-title">
            <img src="{{ asset('/images/icone-metiers.png') }}" alt="" title="Nos métiers">Nos métiers
        </h2>
    </div>
    <div class="row">
        <div class="col bg-light border border-secondary p-3">
            <p class="font-italic font-weight-bold">Avant tout, répondre a vos attentes. Votre besoin n’est pas mentionné sur ce site ? Faites-nous en part, nous nous ferons un plaisir de vous accompagner.</p>
            <img src="{{ asset('images/devis-perso.jpg') }}" alt="Devis personnalisé" class="imageflottante-right">
            <ul>
                <li>Screening technique</li>
                <li>Réparation Smartphones, produits IT, brun, blans, gris…</li>
                <li>Prestation de rachat/revente</li>
                <li>Repacking</li>
                <li>Prestations logistiques</li>
                <li>Montage process après-vente</li>
                <li>Consulting</li>
                <li>Appels d’offres</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h2 class="secondary-title">Screening</h2>
        Vous souhaitez l’avis de supports techniques externes additionnels ? Nous nous chargerons d’examiner vos lots de produits et de vous fournir les rapports d’expertise associés des plus exhaustifs.
    </div>

    <div class="row">
        <h2 class="secondary-title">Conseil consulting</h2>
        Vous réfléchissez à de nouveaux services pour démultiplier vos revenus ? Vous nécessitez avis et support extérieurs ? Toute notre équipe vous accompagnera dans l’atteinte de cet objectif.
    </div>

    <div class="row">
        <h2 class="secondary-title">
            <img src="{{ asset('/images/settings.png') }}" alt="" title="Reverse logistique">Mise en route reverse logistique
        </h2>
    </div>

    <div class="row">
        <div class="col bg-light border border-secondary p-3 text-center mt-5 w-50">
            <p class="mt-5">Vous ne savez que faire de vos anciens produits ? Nous vous accompagnerons dans leur rachat vous permettant d’accéder plus rapidement et à meilleur coût aux générations ultérieures.</p>
           </div>
        <div class="col">
            <img src="{{ asset('/images/exemple.jpg') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <h2 class="secondary-title">Mise en place process reconditionné</h2>
        <p>Bien souvent se vendent des produits de génération antérieure pour l’achat de plus récents. Il peut être viable économiquement de réparer et remettre à neuf des produits plus anciens destinés à la location ou leur revente à marge étendue. Bien des canaux de distribution ont fait ce choix ; leurs satisfactions qualité et profitabilité semble faire ses preuves.</p>
    </div>

    <div class="row">
            <p id="solution-box" class="secondary-title">
                <img src="{{ asset('/images/accessory.png') }}" alt="" title="Nos métiers">Nos solutions B2B personnalisées
            </p>
    </div>
    <div class="row">
        <div class="col bg-light border border-secondary p-3">
            <p>Chez Enviro, nous sommes motivés par la satisfaction de nos clients. Notre meilleure preuve, chaque année :
                ils sont de plus en plus nombreux à nous faire confiance en nous octroyant des flux de plus en plus importants
                ou encore de nouvelles familles de produits à gérer.</p>
            <p>Concernant les smartphones, nos taux de retours sont parmi les plus faibles ce qui contribue aussi à satisfaire
                et fidéliser nos partenaires</p>
            <p>Tous nos services bénéficient de durées de garantie associées à la typologie de prestation assurée</p>
        </div>
    </div>

    <div class="row">
            <h2 class="secondary-title">
                <img src="{{ asset('/images/files-and-folders.png') }}" alt="Nos métiers">Nos engagements de performance
            </h2>
    </div>
    <div class="row">
            <div class="col bg-light border border-secondary p-3">
                <p class="font-weight-bold">Iso 9001 en cours</p>
                <img src="{{ asset('images/logo-iso9001.jpg') }}" alt="Certification" class="imageflottante-right">
                <p>Nous satisfaisons aux taux de retours des produits des marques avec lesquelles nous collaborons.</p>
                <p>Nos prestations sont toutefois garanties (voir espace dédié) pour votre confort et la pleine satisfaction de vos clients.</p>
            </div>
    </div>
</main>

{% endblock %}
