{% extends 'base.html.twig' %}

{% block title %}Services - Enviro Services France{% endblock %}

{% block body %}
<main class="container main-service mb-4">
    <h1 class="primary-title">Nos services</h1>

    <div class="row">
        <h2 class="secondary-title">
            <img src="{{ asset('/images/icone-metiers.png') }}" alt="" title="Nos métiers">Nos métiers
        </h2>
    </div>
    <div class="row">
        <div class="col bg-light border border-secondary p-3">
            <p class="font-italic font-weight-bold">Avant tout, répondre à vos questions. N’hésitez pas à nous consulter quand vous avez un besoin
                n’étant pas exprimé sur ce site. Nos équipes Commerciale et Technique se feront un plaisir de vous
                accompagner. La personnalisation fait partie de nos compétences et c’est votre avantage concurrentiel.</p>
            <img src="{{ asset('images/devis-perso.jpg') }}" alt="Devis personnalisé" class="imageflottante-right">
            <ul>
                <li>Screening technique</li>
                <li>Réparation Smartphones, produits IT, brun, blans, gris…</li>
                <li>Prestation de rachat/revente</li>
                <li>Repacking</li>
                <li>Prestations logistiques</li>
                <li>Montage process après-vente</li>
                <li>Consulting</li>
                <li>Appels d’offres</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h2 class="secondary-title">Screening</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
        rhoncus euismod.
    </div>

    <div class="row">
        <h2 class="secondary-title">Conseil consulting</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
        tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
        tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
        Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
        rhoncus euismod.
    </div>

    <div class="row">
        <h2 class="secondary-title">
            <img src="{{ asset('/images/settings.png') }}" alt="" title="Reverse logistique">Mise en route reverse logistique
        </h2>
    </div>

    <div class="row">
        <div class="col bg-light border border-secondary p-3">
            <p>        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                rhoncus euismod.</p>
            <p>        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                rhoncus euismod.</p>
            <p>        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. </p>
        </div>
        <div class="col">
            <img src="{{ asset('/images/exemple.jpg') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <h2 class="secondary-title">Mise en route process reconditionne</h2>
        <p>        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
            tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
            tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
            Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
            rhoncus euismod.</p>
    </div>

    <div class="row">
            <p id="solution-box" class="secondary-title">
                <img src="{{ asset('/images/accessory.png') }}" alt="" title="Nos métiers">Nos solutions B2B personnalisées
            </p>
    </div>
    <div class="row">
        <div class="col bg-light border border-secondary p-3">
            <p class="font-weight-bold">Iso 9001 en cours</p>
            <p>Chez Enviro, nous sommes motivés par la satisfaction de nos clients. Notre meilleure preuve, chaque année :
                ils sont de plus en plus nombreux à nous faire confiance en nous octroyant des flux de plus en plus importants
                ou encore de nouvelles familles de produits à gérer.</p>
            <p>Concernant les smartphones, nos taux de retours sont parmi les plus faibles ce qui contribue aussi à satisfaire
                et fidéliser nos partenaires</p>
            <p>Tous nos services bénéficient de durées de garantie associées à la typologie de prestation assurée</p>
        </div>
    </div>

    <div class="row">
            <h2 class="secondary-title">
                <img src="{{ asset('/images/files-and-folders.png') }}" alt="Nos métiers">Nos engagements de performance
            </h2>
    </div>
    <div class="row">
            <div class="col bg-light border border-secondary p-3">
                <p class="font-weight-bold">Iso 9001 en cours</p>
                <img src="{{ asset('images/logo-iso9001.jpg') }}" alt="Certification" class="imageflottante-right">
                <p>Chez Enviro, nous sommes motivés par la satisfaction de nos clients. Notre meilleure preuve, chaque année :
                    ils sont de plus en plus nombreux à nous faire confiance en nous octroyant des flux de plus en plus importants
                    ou encore de nouvelles familles de produits à gérer.</p>
                <p>Concernant les smartphones, nos taux de retours sont parmi les plus faibles ce qui contribue aussi à satisfaire
                    et fidéliser nos partenaires</p>
                <p>Tous nos services bénéficient de durées de garantie associées à la typologie de prestation assurée</p>
            </div>
    </div>
</main>

{% endblock %}
