{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <p class="primary-title">Devis n°{{ devis.id }} de {{ devis.user.username }}</p>
    <div class="row">
        <p>Voici vos simulations sauvegardées :</p>
    </div>
    <div class="row mb-5">
        <ul>
            {% set price = 0 %}
            {% set total = 0 %}
        {% for simulation in devis.simulations %}
            <li>
                {% set price = simulation.ratecard.priceRateCard * simulation.quantity %}
                Simulation n°{{ simulation.id }} - {{ simulation.quantity }} {{ simulation.ratecard.brand }} {{ simulation.ratecard.models }} pour {{ simulation.ratecard.solution }}  : {{ price }} €
                {% set total = total + price %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <p>Total = {{ total }} €</p>
    <div class="row mb-5">
        <div class="col">
            <a href ="{{ path('simulation') }}" class="primary-button">Ajouter une simulation</a>
        </div>
        <div class="col">
            <a href ="{{ path('index') }}" class="primary-button">Valider ce devis</a>
        </div>
    </div>
</div>
{% endblock %}
