<!DOCTYPE html>

<html lang="fr, en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Administration - Enviro Service France{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin') }}">Tableau de bord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#">Utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-ratecard') }}">Rate-Card</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#">Options</a>
                            </li>
                            ESF 2020
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col">
                {% block body %}
                    <h1 class="primary-title">Interface d'administration</h1>
                    <div class="row justify-content-center">
                        <div class="col-3 border border-secondary p-4 m-2">
                            1
                        </div>
                        <div class="col-3 border border-secondary p-4 m-2">
                            2
                        </div>
                        <div class="col-3 border border-secondary p-4 m-2">
                            2
                        </div>

                    </div>
                {% endblock %}
            </main>
        </div>
    </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
