<!DOCTYPE html>

<html lang="fr, en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Administration - Enviro Service France{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between color-white">
                            <p class="border-bottom border-white">ADMINISTRATION</p>
                            <p class="font-italic">Bienvenue Paul</p>
                            <p class="date">{{"now"|date('d/m/Y')}} - <a class="secondary-button" href="{{ path('app_logout') }}">Déconnexion</a></p>

                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin') }}">Tableau de bord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-users') }}">Utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-ratecard') }}">Rate-Card</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-options') }}">Options</a>
                            </li>
                            <p class="pt-5">ESF 2020</p>
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
                        {{ message }}
                        <a href="{{ path(app.request.attributes.get('_route')) }}" alt="Fermer">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger text-center mt-1">
                        {{ message }}
                        <a href="{{ path(app.request.attributes.get('_route')) }}" alt="Fermer">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                {% endfor %}
                {% block body %}
                    <h1 class="primary-title">Interface d'administration</h1>
                    <div class="row justify-content-center">
                        <div class="col-3 border border-secondary p-2 m-2">
                            <p class="font-weight-bold text-center">Inscription en attente</p>
                            <ul>
                                <li>Bernard Lafite
                                </li>
                                <li>Stéphanie Brioit
                                </li>
                            </ul>
                        </div>
                        <div class="col-3 border border-secondary p-2 m-2">
                            <p class="font-weight-bold text-center">Dernière MAJ Rate-Card</p>
                            <p class="text-center">30/03/2020</p>
                        </div>
                        <div class="col-3 border border-secondary p-2 m-2">
                            2
                        </div>

                    </div>
                {% endblock %}
            </main>
        </div>
    </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
