<!DOCTYPE html>

<html lang="fr, en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Administration - Enviro Service France{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between color-white">
                            <p class="border-bottom border-white">ADMINISTRATION</p>
                            <p class="font-italic">Bienvenue {{ app.user.username }}</p>

                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin') }}">Tableau de bord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-users') }}">Utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-ratecard') }}">Rate-Card</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('admin-options') }}">Options</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{{ path('register_collaborator') }}">Collaborateurs</a>
                            </li>
                            {% elseif app.user.roles[0] == "ROLE_COLLABORATOR" %}
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{{ path('admin') }}">Tableau de bord</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{{ path('tracking_index') }}">Tracking</a>
                                </li>
                                <li class="nav-item">
                                    {% for tracking in trackings %}
                                        {% if tracking.isReturned %}
                                            <a class="nav-link pl-0" href="{{ path('tracking_show', {'id': tracking.id}) }}">Téléphones traités</a>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}

                            <p class="pt-5"><a href="{{ path('index') }}">ESF 2020</a></p>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
                        {{ message }}
                        <a href="{{ path(app.request.attributes.get('_route')) }}" alt="Fermer">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger text-center mt-1">
                        {{ message }}
                        <a href="{{ path(app.request.attributes.get('_route')) }}" alt="Fermer">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                {% endfor %}
                {% block body %}
                    <h1 class="primary-title">Interface d'administration</h1>
                    <div class="row justify-content-center">
                        <div class="col-3 border border-secondary p-2 m-2">
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <p class="font-weight-bold text-center">Inscription en attente</p>
                                {%set i=0 %}
                                {% for user in users %}
                                    {% if user.roles[0]=="ROLE_USER"%}
                                        {% set i=i+1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if i>0 %}
                                 <a class="primary-button" href="{{ path('admin-users') }}">{{ i }}
                                     {% if i==1 %}
                                     membre
                                     {% else %}
                                     membres
                                     {% endif %}en attente</a>
                                {% else %}
                                    <p>Aucun membre en attente</p>
                                {% endif %}
                                {% for user in users %}
                                   {% if user.roles[0]=="ROLE_USER"%}
                                       <ul>
                                        <li>Nom de l'entreprise : {{user.username}} </li>
                                        <li>Nom du dirigeant : {{user.bossName}}</li>
                                       </ul>
                                   {% endif %}
                                {% endfor %}
                                {% endif %}

                                {% if app.user.roles[0] == "ROLE_COLLABORATOR" %}
                                    <p class="font-weight-bold text-center">Colis reçus en attente d'etre traités</p>
                                    {% for booking in bookings %}
                                    <a class="primary-button" href="{{ path('booking_show', {'id': booking.id}) }}">Voir contenu du colis</a>
                                    {% endfor %}
                                {% endif %}
                        </div>

                        <div class="col-3 border border-secondary p-2 m-2">
                                {% if app.user.roles[0] == "ROLE_ADMIN" %}
                                <p class="font-weight-bold text-center">Dernière MAJ <a href="{{ path('admin-ratecard') }}">Rate-Card</a></p>
                                <p class="text-center">{{ update_ratecard }}</p>
                                <hr>
                                <p class="font-weight-bold text-center">Dernière MAJ <a href="{{ path('admin-options') }}">Options</a></p>
                                <p class="text-center">{{ update_options }}</p>
                                {% elseif app.user.roles[0] == "ROLE_COLLABORATOR" %}
                                    <p class="font-weight-bold text-center">Téléphone en attente</p>
                                    {% for tracking in trackings %}
                                        {% if tracking.isReceived ==0 %}
                                            <a class="primary-button" href="{{ path('tracking_index') }}">Détails</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                               {#{% elseif app.user.roles[0] == "ROLE_COLLABORATOR" %}
                                    <p class="font-weight-bold text-center">Trackings Terminés</p>
                                    {% for tracking in trackings %}
                                    <a class="primary-button" href="{{ path('tracking_show', {'id': tracking.id}) }}">Détails</a>
                                    {% endfor %}
                                {% endif %}#}

                            </div>
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <div class="col-3 border border-secondary p-2 m-2">
                            2
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
