{% extends 'admin/index.html.twig' %}

{% block title %}Options - Enviro Services France{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="primary-title">Options</h1>
        <div class="row justify-content-center">
            <div class="col">
                <p class="secondary-title">Charger une nouvelle matrice "Options"</p>
                <div class="text-center">
                    {{ form_start(form) }}
                    <p>Merci de charger un fichier au format CSV pour mettre à jour les options actuelles</p>
                    <p>{{ form_widget(form.options) }}</p>
                    {{ form_row(form.submit, {'label': 'Envoyer', 'attr': {'class': 'primary-button'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {% for log in logs %}
            <div class="row justify-content-center">
                <div class="col-8">
                    <p class="text-danger">{{ log }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col">
                <p class="secondary-title">Données actuelles</p>
                {% for line in options %}
                    {% if loop.first %}
                        <div class="row p-3 font-weight-bold">
                            <div class="col">
                                 Nom de l'option
                            </div>
                            <div class="col">
                                Prix
                            </div>
                        </div>
                    {% endif %}
                    <div class="row p-3">
                        <div class="col">
                            {{ line.description }}
                        </div>
                        <div class="col">
                            {{ line.priceOption }} €
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">Aucune donnée dans la base de donnée</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
