{% extends 'base.html.twig' %}

{% block title %}Votre mobile{% endblock %}

{% block body %}
    <main class="container">
    <h1 class="primary-title">Vos mobiles à envoyer</h1>
<div class="row justify-content-center">
    {% if booking.trackings is not empty %}
    <div class="col-6">
        <h2 class="secondary-title">Mobiles enregistrés (booking n°{{ booking.id }})</h2>
            <ul>
                {% for tracking in booking.trackings %}
                    <li>
                        {{ tracking.simulation.quantity }}
                        {{ tracking.simulation.ratecard.brand }}
                        {{ tracking.simulation.ratecard.models }}
                        {{ tracking.simulation.ratecard.solution }}
                        imei: {{ tracking.imei }}
                    </li>
                {% endfor %}
            </ul>
                <a class="primary-button" href="{{ path('envoi_chronopost', {'id': app.user.id}) }}">Etiquette Chronopost</a>
            </div>
    </div>
    {% endif %}
</div>
    </main>
{% endblock %}
