{% extends 'admin/index.html.twig' %}

{% block title %}Booking{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('collab') }}
 {% endblock %}
 {% block body %}
        <div class="row justify-content-center">
            <div class="col-8 border border-secondary p-2 m-2">
                {% if app.user.roles[0] == "ROLE_COLLABORATOR" %}
                    <p class="primary-title display-2 font-weight-bold text-center">Colis a vérifier</p>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Colis numéro</th>
                                    <td>{{ booking.id }}</td>
                                </tr>
                                <tr>
                                    <th>Date d'envoi Chronopost</th>
                                    <td>{{ booking.dateBooking ? booking.dateBooking|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    {% if booking.isReceived == false %}
                                    <th>Confirmez-vous la reception du coli ?</th>
                                    <td>
                                            <a class="secondary-button" href="{{  path('received_booking', {'id' : booking.id }) }}">Je confirme</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Date de réception</th>
                                    <td>{{ booking.receivedDate ? booking.receivedDate|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Télephones a controller :</th>
                                    <td>
                                        {% for tracking in booking.trackings %}
                                            {% if tracking.isReceived == false %}
                                                <a class="primary-button" href="{{  path('tracking_show', {'id' : tracking.id }) }}"> Vérifiez téléphone</a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-3 p-5 m-2">
                        <a class="secondary-button" href="{{ path('admin') }}">Retour</a>
                        <a class="secondary-button" href="{{ path('tracking_edit', {'id': booking.id}) }}">Editer</a>
                        {{ include('booking/_delete_form.html.twig') }}
                    </div>
                </div>
                {% endif %}
 {% endblock %}
