{% extends 'admin/index.html.twig' %}

{% block title %}Tracking index{% endblock %}

{% block body %}
    <h1 class="primary-title">Tracking index</h1>
    <div class="row justify-content-center">
    <table class="table font-weight-bold text-center">

        <thead>
            <tr>
                <th>Id</th>
                <th>Imei</th>
                <th>Envoyé par le client</th>
                <th>Date d'envoi</th>
                <th>Reçu</th>
                <th>Date de réception</th>
                <th>En réparation</th>
                <th>Date de réparation</th>
                <th>Retourné au client</th>
                <th>Date de retour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tracking in trackings %}
            <tr>
                <td>{{ tracking.id }}</td>
                <td>{{ tracking.imei }}</td>
                <td>{{ tracking.isSent ? 'Yes' : 'No' }}</td>
                <td>{{ tracking.sentDate ? tracking.sentDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tracking.isReceived ? 'Yes' : 'No' }}</td>
                <td>{{ tracking.receivedDate ? tracking.receivedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tracking.isRepaired ? 'Yes' : 'No' }}</td>
                <td>{{ tracking.repairedDate ? tracking.repairedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tracking.isReturned ? 'Yes' : 'No' }}</td>
                <td>{{ tracking.returnedDate ? tracking.returnedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="primary-button " href="{{ path('tracking_show', {'id': tracking.id}) }}">Voir</a>
                   <a class="primary-button " href="{{ path('tracking_edit', {'id': tracking.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a class="primary-button" href="{{ path('tracking_new') }}">Nouveau</a>
{% endblock %}
