{% extends 'admin/index.html.twig' %}

{% block title %}Tracking{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1 class="primary-title">Vérification des téléphones</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tracking.id }}</td>
            </tr>
            <tr>
                <th>Envoyé par le client via Chronopost</th>
                <td>{{ tracking.isSent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date d'envoi Chronopost</th>
                <td>{{ tracking.sentDate ? tracking.sentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Imei</th>
                <td>{{ tracking.imei }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>
                    {% for solution in solutions %}
                        <p>{{ solution.brand }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td >
                    {% for solution in solutions %}
                        <p>{{ solution.model }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Je confirme l'Imei, la marque, le modèle</th>
                <td>
                    {% if tracking.isReceived != true %}
                    <a class="secondary-button" href="{{ path('received_tracking', {id:tracking.id}) }}">Je confirme</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Date de réception</th>
                <td>{{ tracking.receivedDate ? tracking.receivedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Envoi en réparation</th>
                <td>
                    {% if tracking.isRepaired == false %}
                        <a class="secondary-button" href="{{  path('repaired_tracking', {'id' : tracking.id }) }}">Je confirme</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de réparation</th>
                <td>{{ tracking.repairedDate ? tracking.repairedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Retourne au client // Etiquette Chronopost</th>
                <td>
                {% if tracking.isReturned == false %}
                    <a class="secondary-button" href="{{  path('returned_tracking', {'id' : tracking.id }) }}">Je confirme</a>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de retour</th>
                <td>{{ tracking.returnedDate ? tracking.returnedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

        <a class="primary-button" href="{{ path('admin') }}">Retour à la liste</a>

    {{ include('tracking/_delete_form.html.twig') }}
{% endblock %}
