{% extends 'admin/index.html.twig' %}

{% block title %}Tracking{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('collab') }}
{% endblock %}

{% block body %}


    <div class="d-flex flex-row mt-2">
        <h1 class="primary-title ml-5">Vérification du téléphone</h1>
        <a class="primary-button mr-5" href="{{ path('admin') }}">Retour au tableau de bord</a>
    </div>

    <table class="table table-hover col-9 ml-5 justify-content-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tracking.id }}</td>
            </tr>
            <tr>
                <th>Envoyé par le client via Chronopost</th>
                <td>{{ tracking.isSent ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Date d'envoi Chronopost</th>
                <td>{{ tracking.sentDate ? tracking.sentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Imei</th>
                <td>{{ tracking.imei }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>
                    {% for solution in solutions %}
                        <p>{{ solution.brand }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td >
                    {% for solution in solutions %}
                        <p>{{ solution.model }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th class="border-secondary">Je confirme l'Imei, la marque, le modèle :</th>
                <td class="border-secondary">
                    {% if tracking.isReceived != true %}
                    <a class="secondary-button" href="{{ path('received_tracking', {id:tracking.id}) }}">Je confirme</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Date de réception</th>
                <td>{{ tracking.receivedDate ? tracking.receivedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th class="border-secondary">Envoi en réparation</th>
                <td class="border-secondary">
                    {% if tracking.isRepaired == false %}
                        <a class="secondary-button" href="{{  path('repaired_tracking', {'id' : tracking.id }) }}">Je confirme</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de réparation</th>
                <td>{{ tracking.repairedDate ? tracking.repairedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="border-secondary">Retourné au client // Etiquette Chronopost</th>
                <td class="border-secondary">
                {% if tracking.isReturned == false %}
                    <a class="secondary-button" href="{{  path('returned_tracking', {'id' : tracking.id }) }}">Je confirme</a>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de retour</th>
                <td>{{ tracking.returnedDate ? tracking.returnedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
