{% extends 'admin/index.html.twig' %}

{% block title %}Tracking{% endblock %}

{% block body %}
    <h1 class="primary-title">Tracking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tracking.id }}</td>
            </tr>
            <tr>
                <th>Imei</th>
                <td>{{ tracking.imei }}</td>
            </tr>
            <tr>
                <th>Envoyé par le client</th>
                <td>{{ tracking.isSent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date d'envoi</th>
                <td>{{ tracking.sentDate ? tracking.sentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Reçu</th>
                <td>{{ tracking.isReceived ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date de réception</th>
                <td>{{ tracking.receivedDate ? tracking.receivedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>En réparation</th>
                <td>{{ tracking.isRepaired ? 'Yes' : 'No' }}
                    {% for imei in trackings %}
                        {% if tracking.isRepaired == false %}
                            <a class="primary-button" href="{{  path('repaired_tracking', {'id' : tracking.id }) }}">Envoi en réparation {{ tracking.id }}</a>
                        {% else %}

                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Date de réparation</th>
                <td>{{ tracking.repairedDate ? tracking.repairedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Retourné au client</th>
                <td>{{ tracking.isReturned ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date de retour</th>
                <td>{{ tracking.returnedDate ? tracking.returnedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

        <a class="primary-button" href="{{ path('tracking_index') }}">Retour à la liste</a>

       {# <a class="primary-button" href="{{ path('tracking_edit', {'id': tracking.id}) }}">Editer</a>#}

    {{ include('tracking/_delete_form.html.twig') }}
{% endblock %}
