{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('simulation') }}
{% endblock %}

{% block body %}
<div class="container">
    <p class="primary-title">Simulation de l'utilisateur</p>
    <div class="form js-transform">

        {{ form_start(form) }}

        <div class="country">
            <p>
                Veuillez indiquer votre pays:
            </p>
            {{ form_widget(form.country, {'attr': {'label': 'country', 'class': 'form-control js-transform', 'placeholder': 'entre ton pays'}}) }}
        </div>


        <div class="marque">
            <p>
                Veuillez indiquer la marque du téléphone:
            </p>
            {{ form_widget(form.brand, {'attr': {'label': 'brand', 'class': 'form-control js-transform'}}) }}
        </div>

        {% if brand != null %}
        <div class="model">
            <p>
                Veuillez indiquer le modéle du téléphone:
            </p>
            {{ form_widget(form.models, {'attr': {'class': 'form-control js-transform', 'placeholder': 'modele du téléphone'}}) }}
        </div>
        {% endif %}

        {% if model != null %}
            <div class="solution">
                <p>
                    Quelle(s) réparation(s) souhaitez vous effectuée(s)?:
                </p>
                {{ form_widget(form.solution, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="batterie">
                <p>
                    Combien de téléphone ?
                </p>
                {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="prestaion">
                <p>
                    Quelle prestations souhaitez vous ?
                </p>
                {{ form_widget(form.prestation, {'attr': {'class': 'form-control'}}) }}
            </div>
        {% endif %}

        <div class="mt-2">
            <input type="submit" value="Valider" >
        </div>

    {#{{ form_row(form.Selectionnez) }}#}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        console.log("ready");
        $(".js-transform").change("click", function (event) {
            var element = $("select#models").val();
            if (element){
                $(".js-transform").addClass("remplie")
            } else {
                $(".js-transform").removeClass("remplie")
            }
            console.log(element);
        })

    });
</script>
{% endblock %}