{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="form">

        {{ form(form) }}

               {# <div class="country">
                    <p>
                        Veuillez indiquer votre pays:
                    </p>
                    {{ form_widget(form.country, {'attr': {'label': 'country', 'class': 'form-control', 'placeholder': 'entre ton pays'}}) }}
                </div>


                <div class="marque">
                    <p>
                        Veuillez indiquer la marque du téléphone:
                    </p>
                    {{ form_widget(form.brand, {'attr': {'label': 'brand', 'class': 'form-control'}}) }}
                </div>

                <div class="model">
                    <p>
                        Veuillez indiquer le modéle du téléphone:
                    </p>
                    {{ form_widget(form.models, {'attr': {'class': 'form-control', 'placeholder': 'modele du téléphone'}}) }}
                </div>

        {{ form_row(form.Selectionnez) }}
        {{ form_end(form) }}#}





    {#    <div class="">
            <p>
                Veuillez indiquer le nombre de téléphone à prendre en charge:
            </p>
            {{ form_widget(form.quantity, {'attr': {'label': 'marque', 'class': 'form-control', 'placeholder': 'Quantité'}}) }}
        </div>

        <div class="">
            <p>
                L'écran est-il fonctionel?
            </p>
            {{ form_widget(form.etat_ecran, {'attr': {'label': 'marque', 'class': 'form-control'}}) }}
        </div>

        <div class="">
            <p>
                La batterie doit-elle etre remplacée?
            </p>
            {{ form_widget(form.battery, {'attr': {'label': 'marque', 'class': 'form-control'}}) }}
        </div>

        <div class="">
            <p>
                Les bouttons fonctionnent tous?
            </p>
            {{ form_widget(form.button, {'attr': {'label': 'marque', 'class': 'form-control'}}) }}
        </div>

        <div class="">
            <p>
                Si le téléphone dispose d'une reconnaissance d'empreinte digitale, est-elle fonctionnelle?
            </p>
            {{ form_widget(form.empreinte, {'attr': {'label': 'marque', 'class': 'form-control'}}) }}
        </div>

        <div class="">
            <p>
                De manière générale, le téléphone a t-il un problème de fonctionnement?
            </p>
            {{ form_widget(form.general, {'attr': {'label': 'marque', 'class': 'form-control'}}) }}
        </div> #}






{#        <div class="prestation">#}
{#            <p>#}
{#                Veuillez indiquer la prestation du téléphone:#}
{#            </p>#}
{#            {% for child in form_rest(form) %}#}
{#                {{ form_widget(child, {'attr': {'label': 'marque', 'class': 'form-control', 'placeholder': 'Marque du téléphone'}}) }}#}
{#            {% endfor %}#}
{#        </div>#}

        {#  {{ form_end(form) }} #}
    </div>
</div>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        console.log("ready");
        $(".model").addClass("hidden");
        $("#brand").change("click", function (event) {
            var element = $("select#brand").val();
            if (element){
                $(".model").removeClass("hidden")
            } else {
                $(".model").addClass("hidden");
            }
            console.log(element);
        })

    });
</script>
{% endblock %}#}