{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('simulation') }}
{% endblock %}

{% block body %}
<div class="container">
    <p class="primary-title">Simulation de l'utilisateur</p>
    <div class="form js-transform">

        {{ form_start(form) }}

        <div class="marque-js">
            <p class="mt-2">
                Veuillez indiquer la marque du téléphone:
            </p>
            {{ form_widget(form.brand, {'attr': {'label': 'brand', 'class': 'form-control js-transform'}}) }}
        </div>

        {% if brand != null %}
        <div class="model-js">
            <p class="mt-2">
                Veuillez indiquer le modéle du téléphone:
            </p>
            {{ form_widget(form.models, {'attr': {'class': 'form-control js-transform', 'placeholder': 'modele du téléphone'}}) }}
        </div>
        {% endif %}

        {% if model != null %}
            <div class="solutions-js">
                <p class="mt-2">
                    Quelle(s) réparation(s) souhaitez vous effectuée(s)?:
                </p>
                {{ form_widget(form.solution, {'attr': {'class': 'form-control'}}) }}
                <p class="mt-2">
                    Combien de téléphone ?
                </p>
                {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                <p class="mt-2">
                    Quelle prestations souhaitez vous ?
                </p>
                {{ form_widget(form.prestation, {'attr': {'class': 'form-control'}}) }}
            </div>
        {% endif %}

        <div class="mt-2">
            <input type="submit" value="Valider" >
        </div>

    {#{{ form_row(form.Selectionnez) }}#}
       {{ form_end(form) }}
    </div>
    <div class="row m-2">
        <div class="col-1">
            <a href="javascript:history.go(-1)">
                <img src="{{ asset('/images/retour.png') }}" alt="flèche de retour" id="back_button">
            </a>
        </div>
    </div>

</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        console.log("ready")
        if ($("#brand").val() !== ""){
            $("#country").addClass("remplie")
            $("#brand").addClass("remplie")
        }
        if ($("#models").val() !== ""){
            $("#models").addClass("remplie")
        }
        $("#brand").click("click", function () {
            let brand = $("#brand").val()
            if (brand != ""){
                $(".model-js").removeClass("hidden")
            } else {
                $(".model-js").addClass("hidden")
            }
        })
        $("#models").click("click", function () {
            let model = $("#models").val();
            if (model != ""){
                $(".solutions-js").removeClass("hidden")
            } else {
                $(".solutions-js").addClass("hidden")
            }
        })
        $(document).on("change", "#brand", function () {
            let $field = $(this)
            let $form = $field.closest("form")
            let $brandField = $("#brand")
            let target = "#" + $field.attr("id").replace("brand", "models")
            let data = {}
            data[$brandField.attr("name")] = $brandField.val()
            data[$field.attr("name")] = $field.val()
            $.post($form.attr("action"), data).then(function (data) {
                let $input = $(data).find(target)
                $(target).replaceWith($input)
            })
        })
        $(document).on("change", "#models", function () {
            let $field = $(this)
            let $form = $field.closest("form")
            let $brandField = $("#brand")
            let $modelsField = $("#models")
            let target = "#" + $field.attr("id").replace("models", "solution")
            let target2 = "#" + $field.attr("id").replace("models", "prestation")
            let data = {}
            data[$brandField.attr("name")] = $brandField.val()
            data[$modelsField.attr("name")] = $modelsField.val()
            data[$field.attr("name")] = $field.val()
            $.post($form.attr("action"), data).then(function (data) {
                let $input = $(data).find(target)
                $(target).replaceWith($input)
            })
            $.post($form.attr("action"), data).then(function (data) {
                let $input2 = $(data).find(target2)
                $(target2).replaceWith($input2)
            })
        })
    });
</script>
{% endblock %}