{% extends 'base.html.twig' %}

{% block title %}Résultat de la simulation - Enviro Services France{% endblock %}

{% block body %}
<div class="container">
    <p class="primary-title">Résultat de votre simulation</p>
    {% for simulation in simulations %}
        {% if simulation.isValidated != true %}
            <p class="secondary-title">Simulation n° {{ simulation.id }}</p>
            <p>Vous voulez nous envoyer {{ simulation.quantity }} {{ simulation.rateCard.models }}
                pour {{ simulation.rateCard.solution }} en prestation {{ simulation.rateCard.prestation }}</p>
            <div class="row mb-5">
                <div class="col"><span class="font-weight-bold">Prix unitaire :</span> {{ simulation.rateCard.priceRateCard * app.user.bonusRateCard | number_format(2, '.') }} €</div>
                <div class="col"><span class="font-weight-bold">Coût total :</span> {{ price[simulation.rateCard.solution] | number_format(2, '.') }} €</div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ path('new_simulation', {'accept': true, 'devis': devis.id, 'simulation': simulation.id }) }}" class="primary-button">Sauvegarder dans mon devis</a>
                </div>
                <div class="col">
                    <a href="{{ path('new_simulation', {'accept': false, 'devis': devis.id, 'simulation': simulation.id}) }}" class="secondary-button">Abandonner cette estimation</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
