{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('contact') }}
 {% endblock %}

{% block body %}
    <main id="contact-main">
        <h1 class="title-contact primary-title">Contact</h1>
        <div>
            <h2 class="secondary-title">
                <img src="/images/icone-informations.png" title="Contact" alt="Contact">BESOIN DE PLUS D'INFORMATIONS?
            </h2>
            <p class="recontact mr-5">Nous vous recontacterons sous 24h !</p>
        </div>

        <h3>Notre équique s'occupe de vous !</h3>

        <div class="infos ml-5 mr-5 mb-5">
         <div class="d-flex justify-content-between ml-5 mr-5">
                <a class="telephone p-2 " href=""><img src="/images/phone.png" alt="Telephone"> 03 20 00 00 00</a>

                <a class="mail p-2" href=""><img src="/images/mail.png" alt="mail">
                    clients@enviro-services.fr</a>
        </div>
            <div class="d-flex justify-content-between ml-5 mr-5">
                <a class="fax p-2 " href=""><img src="/images/print.png" alt=""> 03 20 00 00 01</a>

                <a class="whatsapp p-2" href=""><img src="/images/Whatsapp.png" alt=""></a>
            </div>
        </div>

        <div class="inscription">
            <h4 class="secondary-title ml-5 mr-5 mb-5">Demande d'inscription</h4>

            <h4 class="third-title mb-4">Pourquoi se créer un compte?</h4>

            <p class="explication ml-5 mr-5 mb-5">
                Créer un compte ....
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam debitis et perspiciatis soluta suscipit unde ut.
                Accusamus cupiditate hic ipsam libero officia quae quibusdam, saepe tempora tempore totam vel voluptatem.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aut, consectetur dicta eius eveniet excepturi magni
                maiores maxime neque optio porro provident repellat saepe sint totam veritatis? Delectus, magnam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ex exercitationem laborum necessitatibus neque porro repellat rerum sed.
                Aut, commodi ex nam nemo repellendus reprehenderit tempora veritatis voluptatibus. Libero, sint!
            </p>

           <div class="contactForm jumbotron mr-5 ml-5 mt-5 mb-5">
               <div class="contactFields d-flex flex-row justify-content-around">
                   {{ form_start(RegistrationFormType) }}
                   <div class="row-cols-1">
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.username, { 'attr': {'class': 'form-control mr-5 ml-5 mt-5','label': "Nom de l'entreprise",'placeholder': "Nom de l'entreprise", 'required': true } }) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.bossName, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Nom dirigeant', 'placeholder': 'Nom et prénom du responsable à contacter', 'required': true}}) }}</div>
                        </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.numPhone, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Numéro de téléphone', 'placeholder': 'Numéro de téléphone', 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.email, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Adresse email', 'placeholder': 'Email', 'required': true}}) }}</div>
                       </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.numTVA, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Numéro de TVA', 'placeholder': 'N° TVA intracommunautaire', 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.SIRET, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Numéro de Siret', 'placeholder': 'N° SIREN / SIRET','required': true}}) }}</div>
                       </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.operationalAddress, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'adresse', 'placeholder': "Adresse postale de l'entreprise", 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.operationalPostcode, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'code postal', 'placeholder': ' Code postale', 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.operationalCity, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Ville', 'placeholder': 'Ville', 'required': true}}) }}</div>
                       </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.billingAddress, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'adresse', 'placeholder': "Adresse de facturation", 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.billingPostcode, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'code postal', 'placeholder': ' Code postale', 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.billingCity, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Ville', 'placeholder': 'Ville', 'required': true}}) }}</div>
                       </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.kbis, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'Kbis', 'placeholder': 'Kbis de moins de 3 mois', 'required': true}}) }}</div>
                           <div class="col">{{ form_widget(RegistrationFormType.cni, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'CNI', 'placeholder': 'Cni du gérant', 'required': true}}) }}</div>
                       </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="col">{{ form_widget(RegistrationFormType.password, {'attr': {'class': 'form-control mr-5 ml-5 mt-5', 'label': 'mot de passe', 'placeholder': 'Mot de passe', 'required': true}}) }}</div>
                       </div>
                       <div class="d-flex flex-row justify-content-around">
                           <div class="CGV col d-flex flex-row justify-content-center mr-5 ml-5 mt-5">
                               {% set terms_link %}J'accepte les Conditions générales de vente d'Enviro Service France{% endset %}
                               {{ form_row(RegistrationFormType.agreeTerms, {'label': terms_link}) }}
                               <a href="{{ path('cgv') }}" class="cgv">CGV</a>
                           </div>
                       </div>
                       <div class="button">
                            <button class="primary-button">Envoyer ma demande de création de compte</button>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </main>
    {{ form_end(RegistrationFormType)}}

{% endblock %}

