<!DOCTYPE html>

<html lang="fr, en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Enviro Service France{% endblock %}</title>
        <link rel="stylesheet" href="https://use.typekit.net/xdq8cqe.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header class="header">
            <nav>
                <img src="/images/Logo_ESF.png" alt="Enviro Services France">
                <ul>
                    <li><a href="{{ path('index') }}" title="Accueil">Accueil</a></li>
                    <li><a href="{{ path('infos') }}" title="ESF">Enviro Service France</a></li>
                    <li><a href="#" title="Nos services">Nos services</a></li>
                    <li><a href="#" title="Nos offres">Nos offres</a></li>
                    <li><a href="#" title="Espace client">Espace client</a></li>
                    <li><a href="{{ path('add_message') }}" title="Contact">Contact</a></li>
                </ul>
                <ul class="profile">
                    <img src="/images/profil.png" alt="Profil">
                    <img src="/images/search.png" alt="Recherche">
                    <img src="/images/uk.png" alt="English">
                </ul>

            </nav>
        </header>
    {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
