<!DOCTYPE html>

<html lang="fr, en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Enviro Service France{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header class="header">
            <nav>
                <img src="/images/Logo_ESF.png" alt="Enviro Services France">
                <ul>
                    <li><a href="{{ path('index') }}" title="Accueil">{% trans %}Accueil{% endtrans %}</a></li>
                    <li><a href="{{ path('infos') }}" title="ESF">Enviro Service France</a></li>

                    <li><a href="{{ path('services') }}" title="Nos services">{% trans %}Nos services{% endtrans %}</a></li>
                    <li><a href="{{ path('offers') }}" title="Nos offres">{% trans %}Nos offres{% endtrans %}</a></li>
                    <li><a href="#" title="Espace client">{% trans %}Espace client{% endtrans %}</a></li>
                    <li><a href="{{ path('add_message') }}" title="Contact">Contact</a></li>
                </ul>
                <ul class="profile">

                    <img src="/images/profil.png" alt="Profil">
                    <img src="/images/search.png" alt="Recherche">
                    <img src="/images/uk.png" alt="English">

                </ul>

            </nav>
        </header>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}

        <div class="footer container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <p class="address text-center mt-4">
                        ENVIRO SERVICES FRANCE
                        391 Avenue Clément Ader
                        59118 Wambrechies
                    </p>
                    <p class="address text-center">
                        Enviro Services France est la plateforme de trading qui simplifie et sécutise votre sourcing en produits technologique reconditionnés
                    </p>
                </div>
                <ul class="offset-4 col-sm-4 mt-4">
                    <a href="#" class="d-block text-center mb-4">
                        Garantie et retours
                    </a>
                    <a href="#" class="d-block text-center mb-4">
                        Services supplémentaires
                    </a>
                    <div class="british offset-8 bg-white text-center">
                        <a href="#" class="">
                            <img src="/images/uk.png" alt="English" class="m-1">
                        </a>
                    </div>
                </ul>

                <div class="footerBottom">
                    <ul class="row col-12 m-2 p-0 d-flex">
                        <a href="" class="text-left mr-3">
                            Mentions légales
                        </a>
                        <a href="" class="mr-3">
                            Certifications
                        </a>
                        <a href="" class="mr-3">
                            CGV/CGU
                        </a>
                        <a href="" class="mr-3">
                            Protection des données
                        </a>
                        <a href="" class="mr-3">
                            Conditions légales
                        </a>
                        <p class="offset-2">
                            Copyright2020 ESF
                        </p>
                    </ul>
                </div>

            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
