{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showUser') }}
{% endblock %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    {% if app.user.roles[0] == "ROLE_USER_VALIDATED" %}
    <main class="container">
        <h1 class="primary-title">Profil de {{ user.username }} </h1>
        <div class="row mb-3">
            <p class="secondary-title">Informations personnelles</p>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Nom de l'entreprise
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.username }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Nom du dirigeant
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.bossName }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Email
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.email }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Référence de Contact
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
             {{ user.refContact }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Adresse de facturation
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.billingAddress }} {{ user.billingPostCode }} {{ user.billingCity }}
            </div>
        </div>
        <div class="row mb-3">
            <p class="secondary-title">Dernières commandes</p>
        </div>

        <div class="row mb-3">
            <p class="secondary-title">Devis en cours</p>
        </div>
        <div class="row mb-3">
            <a href="{{ path('simulation') }}">Faire une simulation</a>
        </div>

        {% for devis in user.devis %}
        <div class="row mb-3">
            <p><a href="{{ path('devis_show', {'id':devis.id}) }}">Devis n°{{ devis.id }}</a></p>
                <ul>
                {% for simulation in devis.simulations %}
                <li>Simulation n°{{ simulation.id }} - {{ simulation.quantity }} {{ simulation.ratecard.brand }} {{ simulation.ratecard.models }} pour {{ simulation.ratecard.solution }}</li>
                {% endfor %}
                </ul>
        </div>
        {% endfor %}
        <div>
            <a href="{{ path('envoi_chronopost', {'id': user.id}) }}">Etiquette</a>
        </div>
{% endif %}

    </main>
{% endblock %}
