{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showUser') }}
{% endblock %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}


    <main class="container">
        <h1 class="primary-title">Profil de {{ user.username }} </h1>
        <div class="row mb-3">
            <p class="secondary-title">Informations personnelles</p>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Nom de l'entreprise
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.username }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Nom du dirigeant
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.bossName }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Email
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.email }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Référence de Contact
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
             {{ user.refContact }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="offset-2 col-3 text-right border-bottom p-2">
                Adresse de facturation
            </div>
            <div class="col-5 text-left border-bottom p-2 pl-5">
                {{ user.billingAddress }} {{ user.billingPostCode }} {{ user.billingCity }}
            </div>
        </div>
        <div class="row mb-3">
            <h2 class="secondary-title">
                Dernières commandes
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    {% for booking in bookings %}
                        <li>
                            <a href="{{ path('booking_new', {'id': booking.id}) }}">
                                Booking n°{{ booking.id }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <a class="primary-button" href="{{ path('booking_new') }}">
                    Nouvelle(s) réparations(s) ?
                </a>
            </div>
        </div>

        <div class="row mb-3">
            <h2 class="secondary-title">
                Devis en cours
            </h2>
        </div>
        <div class="mb-3">
            <a href="{{ path('new_simulation') }}" class="primary-button">
                Faire une simulation
            </a>
        </div>

        <div class="row">
            {% for devis in user.devis %}
            <div class="col-4">
                <a href="{{ path('devis_show', {'id':devis.id}) }}">
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">
                            Devis n°{{ devis.id }}
                        </div>
                        <div class="card-body">
                            {% for simulation in devis.simulations %}
                                <h5 class="card-title">
                                    {{ simulation.ratecard.brand }} {{ simulation.ratecard.models }}
                                </h5>
                                <p class="card-text">
                                    Quantité: x{{ simulation.quantity }}
                                </p>
                                <p class="card-text border-bottom">
                                    Réparation: {{ simulation.ratecard.solution }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}